mixin menu-item(link, text)
  a.top-menu__link(href="#{link}", data-hover="#{text}")&attributes(attributes)!= text

mixin menu-click-item(handler, text)
  a.top-menu__link(href="javascript:;", ng-click="#{handler}", data-hover="#{text}")&attributes(attributes)!= text


- var menuData = [];
- var menuItem = function(link, text, type) { return { link: link, text: text, type: type}; };
- menuData[0] = menuItem("/goto-nights-stockholm", "Meetups");
- menuData[1] = menuItem("http://www.goto-stockholm.com/", "GOTO; Conference");
- menuData[2] = menuItem("gotoClientWork()", "Client Projects", "onclick");
- menuData[3] = menuItem("/jobs", "Jobs");
- menuData[4] = menuItem("/contact", "Contact");

mixin data-menu-item(data)
  if data.type === "onclick"
    +menu-click-item(data.link, data.text)
  else
    +menu-item(data.link, data.text)


mixin main-menu-items
  for d in menuData
    +data-menu-item(d)
  //  div.top-menu__left-link#global-link
        span.icon-globe.animate-spin
        a.top-menu__link(href="//www.trifork.com", target="_blank") Global Site


mixin top-menu-button
  button.top-menu__button.top-menu__button--resonsive-menu(ng-click="topMenuExpanded = !topMenuExpanded")
    span.icon-menu


mixin dropdown-item(data)
  if data.type === "onclick"
    li.top-menu__dropdown-item
      a(href="#_", ng-click!=data.link)!= data.text
  else
    li.top-menu__dropdown-item
      a(href!=data.link)!= data.text

mixin menu-dropdown
  ul.top-menu__dropdown
    for d in menuData
      +dropdown-item(d)

mixin top-menu
  .top-menu(ng-class="{'top-menu--expanded': topMenuExpanded}").hidden-sm&attributes(attributes)
    .top-menu__container
      a.top-menu__logo(href="/", alt="Home")
      nav.top-menu__nav
        block

mixin main-menu(hidden)
  if hidden
    .top-menu(ng-class="{'top-menu--expanded': topMenuExpanded}", id="top-menu", nav-top-menu='#first-segment')&attributes(attributes)
      .top-menu__button-group
        +top-menu-button
        +menu-dropdown
      .top-menu__container
        a.top-menu__logo(href="/", alt="Home")
        nav.top-menu__nav
          +main-menu-items
  else
    .top-menu(id="top-menu", ng-class="{'top-menu--expanded': topMenuExpanded}")&attributes(attributes)
      .top-menu__button-group
        +top-menu-button
        +menu-dropdown
      .top-menu__container
        a.top-menu__logo(href="/", alt="Home")
        nav.top-menu__nav
          +main-menu-items
