extends layouts/layout

block content
  div(ng-init="showToc=false; showDownload=false")
    .top-menu.top-menu--alternative(ng-class="{'top-menu--expanded': showDownload}")
      .top-menu__container
        a.top-menu__logo(href="/", alt="Home")
        nav.top-menu__nav.top-menu__nav--always
          +menu-item("#_", "Table of Contents <span class='icon-down-open'></span>")(ng-click="showToc = !showToc")
          .top-menu__button-group
            button.top-menu__button(ng-click="showDownload = !showDownload")
              | Download
            ul.top-menu__dropdown(ng-h)
              mixin link(format, text)
                li.top-menu__dropdown-item
                  a(href="handbook.#{format}", download="Trifork-Handbook.#{format}")!= text
              +link("pdf", "PDF")
              +link("epub", "EPub")
              +link("docx", "Word Document")
              +link("md", "Markdown")

    .toc(ng-class="{'toc--hidden': !showToc}")
      .toc__container
        .toc__title Contents
        - var itemIndex = 1
        for column, i in chunk(handbookToc, 3)
          .toc__column
            for section in column
              a.toc__entry.toc__entry--level-1(href="##{section.id}", ng-click="showToc = false")
                .toc__entry-title!= section.title
                .toc__entry-number!= itemIndex
                .cf

              for subsection, k in section.subsections
                a.toc__entry.toc__entry--level-2(href="##{subsection.id}", ng-click="showToc = false")
                  .toc__entry-title!= subsection.title
                  .toc__entry-number!= itemIndex + "." + padNum(k + 1)
                  .cf

              - itemIndex += 1
            .cf
        .cf

    .segment.article
      .preview
        h1 Early Preview
        p
          | The Trifork Stockholm Handbook is work in progress, this is just a preview.
          | We are currently working very hard to ship our first version
          | of our handbook. We expect to have the first version out in November.
        p
          | Until it is done you are welcome to look it through and get an
          | idea of what the future will bring.

    .segment.article!= handbookHtml
