extend layouts/layout

block content
  +main-menu(true)

  .segment.segment--primary.segment--frontpage
    .segment__menu
      nav.top-menu__nav.top-menu__nav--inverse
        +main-menu-items
    .logo-icon--transparent(frontpage-logo)
      include ../public/img/trifork.svg
    h1.segment__heading Hire us to help you plan, design, and build your product.
    p.segment__lead
      | We help you make your software project a success.
      br
      | We reduce your risk and
      | focus on building the right thing, keeping the project on track<br>
      | with a solid process and frequent iterations.
    button.segment__bottom-icon(nav-scroll-to="#first-segment")
      .icon-down-open
    .think-software.think-software--frontpage
      include ../public/img/think-software.svg

  .segment#first-segment.segment--secondary(ng-class="{'segment--expanded': expanded1}")
    h1.segment__heading So, who is Trifork?
    p.segment__lead
      | We are a software company and a group of passionate individuals. We are passionat about software development
      | and about building products that make other people's lives easier. At Trifork we believe that the key to
      | producing good software is having a team of good people.

    .u-text-center
      a.read-more-link.read-more-link--expandable.segment__button(href="/jobs", segment-expand,
      container="#first-segment" ng-model="expanded1")
        | Meet the Stockholm Office



  .segment
    h1.segment__heading What we do
    p.segment__lead
      | Trifork specializes in creating state of the art Mobile Apps, and we are masters of web technology, like AngularJS and ReactJS.
      | We do data visualization, interactivity design, system integrations as well as agile certification and training for programmers.
      | In our Customer Innovation sessions we help our clients realize the posibilities and pin-point the needs and priorities.

    .u-text-center
      a.read-more-link.segment__button(href="//trifork.com/Industries/#all", target="_black" ng-mouseover="maxedOut(true);graphHover = true"
      ng-mouseout="maxedOut(false); graphHover = false")
        | Go to Case Studies

    svg(ng-class="{'frontpageTeamGraph--active': graphHover}")#frontpageTeamGraph(team-graph, maxed-out="maxedOut")


  .segment.segment--secondary
    h1.segment__heading GOTO; Conferences
    p.segment__lead
      | Our GOTO; conferences are designed for software developers, IT architects, product owners, agilists and project managers.
      | Last year we had more than 5'000 attendees. Our Dev Tracks include emerging languages, concurrent and distributed systems,
      | new database technologies, front-end web, and security.
      | Our Strategy Tracks include agile techniques, UX, progressive enhancement, team dynamics, and archetecture topics.

    .u-text-center.link-list
      a.link-list__link(href="http://gotocon.com/") GOTO; Conf Website
      a.link-list__link(href="https://www.youtube.com/user/GotoConferences") GOTO; YouTube Channel
      a.link-list__link(href="https://www.youtube.com/user/GotoConferences") GOTO; Nights Stockholm


  .segment.segment--half.segment--bg-img.segment--frontpage-goto.segment--left-shadowed
    .container
      h1.segment__heading Featured Conference Sessions
      p.segment__lead
        | Here is a small selection some of the sessions at previous conferences. You can find many more
        | on our YouTube channel.
  ul.thumbnail-list
    mixin video(youtubeId, imageId, title, speaker)
      li.thumbnail-list__item
        a(href="//www.youtube.com/watch?v=#{youtubeId}", title="#{title}")
          img.thumbnail-list__thumbnail(src="/img/videos/#{imageId}.jpg")
        .thumbnail-list__title #{title}
        .thumbnail-list__speaker #{speaker}

    +video("MTawgp3SKy8", "david", "ClojureScript: Lisp's Revenge", "David Nolan")
    +video("7OSkB4BCx00", "jjj", "UX Techniques", "Janne Jul Jensen")
    +video("qI_g07C_Q5I", "mf", "Introduction to NoSQL", "Martin Fowler")
    +video("GpXsQ-NIKXY", "func", "Functional Principles", "Jessica Kerr")
    +video("Sg2BjFQnr9s", "live", "Live Coding for Performances", "Andrew Sorensen")
    +video("mrHjHdyRDNY", "linda", "Professional Productivity", "Linda Rising")

  include includes/footer
